streamlit
numpy
pandas
pypdf2
python-docx
beautifulsoup4
striprtf
sentence-transformers
transformers
torch
torchvision
faiss-cpu
openai
pinecone
streamlit_cookies_controller
rank_bm25
fastapi
uvicorn
python-multipart
openpyxl
python-pptx
pyyaml
python-dotenv
pdfplumber
pyjwt
pytesseract
pdf2image
Pillow